# Ignore node_modules
node_modules/

# Ignore log files and folders
logs/
*.log

# Ignore images folder
images/

# Ignore only config.env in the config folder
config/config.env

# Ignore system files
.DS_Store
Thumbs.db